.navbar {
    background-color: #c42939;
 
    

    top:0;
    width: 100%;
}
.brand-image {
    background-image: url(../../images/CECLogo_Type_White_No_S.png);
    background-size: 100% ;
    background-repeat: no-repeat;
}
.brand-cont {
    height: 35px;
    width: 100px;
    display: flex;
    align-items: center;
}
