.nav-menu-container {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 100px;

}

.cart-badge {
  position: fixed;
  right: 50px;
  bottom: 115px;
}

.link {
  color: whitesmoke;
  
}
h3 {
  color: whitesmoke;
}

